*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS */       

body{
    font-size: 15px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(233, 47%, 7%);
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.container{
    max-width: 375px;
}

.wrapper{
    background-color: hsl(244, 38%, 16%);
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 10px;
    overflow: hidden;
    margin: 2rem;
}

.img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
    opacity: 0.8;
}

.img-box{
    position: relative;
    order: -1;
}

.img-box::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: hsl(277, 64%, 61%);
}

.text-component{
    padding: 12% 8%;
}

.title{
    color: white;
    font-size: 1.8em;
    font-weight: 700;
}

span{
    color: #a15ed0;
}

.subtitle{
    padding-top: 8%;
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
    line-height: 26px;
    font-size: 1em;
    padding-bottom: 2%;
}

.stats-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.number{
    font-weight: 700;
    margin-top: 12%;
    color: white;
}

.stats p{
    margin-top: 2%;
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 0.9em;
}       

@media screen and (min-width: 1024px){
    body{
        text-align: start;
    }

    .wrapper{
        grid-template-columns: 1fr 1fr;
    }

    .img-box{
        order: 1;
    }

    .img-box img{
        content: url("assets/images/image-header-desktop.jpg");
    }

    .container{
        max-width: 1440px;
    }

    .stats-box{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 90%;
    }

    .text-component{
        padding: 12% 12%;
    }

    .title{
        font-size: 2.9em;
    }

    .subtitle{
        width: 80%;
        font-size: 1.2em;
        line-height: 35px;
        padding-bottom: 15%;
    }

    .number{
        font-size: 2.1em;
        padding-bottom: 5%;
    }

    .stats p{
        font-size: 1em;
        letter-spacing: 2px;
    }
}

@media screen and (min-width: 1440px){
    .stats-box{
        width: 80%;
    }
}